# Telegram
TELEGRAM_BOT_TOKEN=123456:replace_me
TELEGRAM_BOT_USERNAME=TG_NOTIFY_BOT
TELEGRAM_WEB_APP_URL=https://miniapp.surpresso.ru
TELEGRAM_INIT_SECRET=

# Backend
PORT=3000
MEDIA_UPLOAD_PATH=uploads

# Frontend
VITE_API_BASE_URL=https://api.surpresso.ru/api/v1
